html,body {
    font-family: 'Hiragino Mincho Pro',serif;
    font-size: 20px;
    background-color: #faebd7;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
    align-items: center;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

img {
    width: 100%;
}

li {
    list-style-type: none;
}

header {
    display: flex;
    align-items: center;
}


/*　ハンバーガーボタン　*/
.hamburger {
    display : block;
    position: fixed;
    z-index : 3;
    right : 40px;
    top   : 13px;
    width : 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
}
.hamburger span {
    display : block;
    position: absolute;
    width   : 30px;
    height  : 2px ;
    left    : 6px;
    background : rgb(0, 0, 0);
    border: double;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition   : 0.3s ease-in-out;
    transition        : 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
    top: 10px;
}
.hamburger span:nth-child(2) {
    top: 20px;
}
.hamburger span:nth-child(3) {
    top: 30px;
}

  /* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
    top : 16px;
    left: 6px;
    background :#ffffff;
    color: #ffffff;
    -webkit-transform: rotate(-45deg);
    -moz-transform   : rotate(-45deg);
    transform        : rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
    top: 16px;
    background :#ffffff;
    color: #ffffff;
    -webkit-transform: rotate(45deg);
    -moz-transform   : rotate(45deg);
    transform        : rotate(45deg);
}

nav.globalMenuSp {
    position: fixed;
    z-index : 2;
    top  : 0;
    left : 0;
    color: #ffffff;
    background: rgba(0,0,0,0.7);
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: opacity .6s ease, visibility .6s ease;
    visibility: hidden;
}

nav.globalMenuSp ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

nav.globalMenuSp ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    transition: .4s all;
}

nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
}
nav.globalMenuSp ul li:hover{
    background :rgb(161, 161, 161);
}

nav.globalMenuSp ul li a {
    display: block;
    color: #fff;
    padding: 1em 0;
    text-decoration :none;
}

  /* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
    opacity: 100;
    visibility: visible;
}

.top {
    background-image: url("https://Tomonori0825/My-Portfolio/main/image/kid.png");
    background-size: cover;
    background-position: center;
    max-height: 650px;
}

.top-title {
    text-align: center;
    top: 50%;
    left: 50%;
    font-size: 60px;
    padding-top: 250px;
    padding-bottom: 300px;
    font-weight: bold;
    font-family: 'Cinzel', serif;
}

.profile_section {
    margin: 0 auto;
    padding: 80px 0 60px 0;
}

.profile_image img {
    width: 30%;
    height: 30%;
    border-radius:50%;
}

.sub_title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    position: relative;
    padding: 1rem .5rem;
}

.sub_title p {
    text-decoration: underline;
    text-decoration-color: #00afcc
}

.introduction {
    text-align: center;
}

.service_section {
    margin: 0 auto;
    padding: 30px 0 50px 0;
}

.service_list {
    display: flex;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
}

.service_item {
    width: 300px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    background-color:#9e9e9d;
}

.service_item_image img {
    height: 250px;
}

.service_name {
    text-align: center;
    font-size: 20px;
}

.service_item_text {
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
}

.service_item_text:before {
    position: absolute;
    content: "";
    width: 80%;
    height: 1px;
    background-color: #707070;
    left: 0;
    right: 0;
    margin: auto;
    top: -10px;
}

.service_item_text p {
    font-size: 18px;
}

.portfolio_cont {
    padding-top: 30px;
}

.portfolio_list {
    padding-top: 45px;
    padding-left: 0;
}

.portfolio_item {
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
    padding-left: 60px;
}

.portfolio_item_text {
    flex: 1;
}

.portfolio_item_text p {
    margin-top: 30px;
    font-size: 20px;
}

.portfolio_item_title {
    font-size: 30px;
}


.image_group {
    padding-bottom: 50px;
}


.portfolio_item_image {
    width: 100%;
    margin : 0 auto;
}


footer {
    padding-top: 60px;
}

.contact_text {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.sending {
    text-align: center;
}

.sending img {
    width: 50px;
}

.copyright {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 10px;
}

.page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 77%;
}

.page-top a {
    text-decoration: none;
    width: 100px;
    padding: 30px 0;
    text-align: center;
    display: block;
}

.page-top a:hover {
    text-decoration: none;
}

@media screen and (max-width: 768px) {

    .top {
        max-width: 100%;
    }

    .top-title {
        font-size: 40px;
    }

    .service_item {
        width: 100%;
        margin-bottom: 50px;
        margin-left: 0;
    }

    .service_list {
        display: block;
        padding-left: 50px;
        padding-right: 50px;
    }

    .service_item_text {
        margin-top: 30px;
        margin-right: 30px;
        margin-left: 30px;
        margin-bottom: 30px;
    }

    .portfolio_cont {
        padding: 0;
    }

    .portfolio_list {
        padding-left: 0;
    }

    .portfolio_item {
        padding: 0;
        display: block;
    }

    .portfolio_item_text {
        text-align: center;
    }

    .image_group {
        padding-bottom: 80px;
        display: block;
    }

    .portfolio_item_image {
        margin : 0 auto;
    }

    .portfolio_item_image img {
        height: 250px;
        width: 250px;
    }

}

@media screen and (min-width: 768px) {

.portfolio_item_image {
    width: 500px;
}

}